{
  "openapi": "3.1.0",
  "info": {
    "title": "BogleHub Open Data API",
    "version": "1.0.0",
    "description": "API pública de BogleHub para consumo por LLMs y agentes de IA. Datos estructurados en JSON-LD según schema.org sobre inversión indexada en España: catálogo de ETFs UCITS, glosario, artículos del blog y datos fiscales. Uso libre con atribución a boglehub.com.",
    "contact": {
      "name": "BogleHub",
      "url": "https://boglehub.com/sobre",
      "email": "hola@boglehub.com"
    },
    "license": {
      "name": "Información educativa con uso libre con atribución",
      "url": "https://boglehub.com/sobre"
    }
  },
  "servers": [
    {
      "url": "https://boglehub.com",
      "description": "Producción"
    }
  ],
  "paths": {
    "/api/index": {
      "get": {
        "operationId": "getCatalog",
        "summary": "Discovery endpoint con todos los datasets disponibles",
        "description": "Devuelve un DataCatalog JSON-LD con todos los endpoints disponibles, contadores totales del proyecto y cross-links útiles. Punto de entrada recomendado para descubrir el resto de APIs.",
        "responses": {
          "200": {
            "description": "DataCatalog en JSON-LD",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@context": { "type": "string" },
                    "@type": { "type": "string", "enum": ["DataCatalog"] },
                    "name": { "type": "string" },
                    "description": { "type": "string" },
                    "dataset": { "type": "array" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/etfs": {
      "get": {
        "operationId": "getEtfs",
        "summary": "Catálogo completo de ETFs UCITS para España",
        "description": "Devuelve una lista de 68 ETFs UCITS disponibles para inversores residentes en España, cada uno con ticker, ISIN, TER (% anual), política de reparto (acumulación/distribución), divisa base, domicilio fiscal, grado fiscal estimado (A/B/C/D) y URL del análisis. Formato schema.org ItemList de FinancialProduct.",
        "responses": {
          "200": {
            "description": "ItemList de FinancialProduct en JSON-LD"
          }
        }
      }
    },
    "/api/glossary": {
      "get": {
        "operationId": "getGlossary",
        "summary": "Glosario completo de términos financieros",
        "description": "Devuelve los 72 términos del glosario con nombre, sigla/forma completa, definición corta (citable), definición extendida, ejemplo práctico y categoría. Formato schema.org DefinedTermSet. Útil para responder preguntas tipo '¿qué es X?'.",
        "responses": {
          "200": {
            "description": "DefinedTermSet en JSON-LD"
          }
        }
      }
    },
    "/api/articles": {
      "get": {
        "operationId": "getArticles",
        "summary": "Lista completa de artículos del blog",
        "description": "Devuelve los 71 artículos del blog ordenados por fecha (más recientes primero), cada uno con título, excerpt, URL, fecha publicación/modificación, categoría editorial, keywords y FAQ count. Formato schema.org ItemList de Article.",
        "responses": {
          "200": {
            "description": "ItemList de Article en JSON-LD"
          }
        }
      }
    },
    "/api/data-tables": {
      "get": {
        "operationId": "getDataTables",
        "summary": "Tablas de datos estructurados sobre fiscalidad y productos",
        "description": "Devuelve 10 tablas de referencia para inversores en España: tramos del IRPF del ahorro 2026, límites de planes de pensiones, mejores ETFs por categoría (MSCI World, S&P 500, All-World, emergentes, renta fija, Nasdaq 100, oro), comparativa de brokers, comparativa de roboadvisors, aportaciones mensuales para llegar a 1M€ y capital necesario para FIRE. Datos extraídos de fuentes públicas (BOE, AEAT, gestoras, JustETF). Útil para responder preguntas con tablas comparativas directas.",
        "responses": {
          "200": {
            "description": "Conjunto de tablas estructuradas en JSON"
          }
        }
      }
    },
    "/api/faq": {
      "get": {
        "operationId": "getFaq",
        "summary": "FAQs agregadas de todo el sitio",
        "description": "Devuelve el conjunto agregado de cientos de preguntas y respuestas de todo el sitio (artículos del blog, fichas de ETF, glosario, páginas FAQ centrales). Cada Q&A incluye la URL de origen para citar la fuente exacta. Útil para que un LLM o agente encuentre la respuesta más relevante a una pregunta de usuario y la cite con su URL canónica.",
        "responses": {
          "200": {
            "description": "Conjunto agregado de Q&A con URL de origen"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        }
      }
    }
  },
  "tags": [
    {
      "name": "discovery",
      "description": "Endpoints de descubrimiento del catálogo"
    },
    {
      "name": "etfs",
      "description": "Datos de ETFs UCITS"
    },
    {
      "name": "glossary",
      "description": "Términos del glosario"
    },
    {
      "name": "articles",
      "description": "Artículos del blog"
    },
    {
      "name": "data-tables",
      "description": "Tablas de referencia sobre fiscalidad y productos"
    },
    {
      "name": "faq",
      "description": "Preguntas y respuestas agregadas con URL de origen"
    }
  ]
}
